* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(22, 30, 41);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  /* text-align: justify; */
}

.code-container {
  /* width: 100%; */
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(41, 49, 78);
  box-sizing: border-box;
}

.content {
  margin: 10px 20px;
  max-width: 1000px;
  /* text-align: justify; */
}

img {
  max-width: 100%;
  align-self: center;
}

.img-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 18px 0;
  font-family: Nata Sans, Helvetica, sans-serif;
  line-height: 50px;
  font-weight: 700;
  font-size: 40px;
  color: aliceblue;
}

hr {
  margin: 17px 0px;
}

p,
em {
  margin: 30px 0;
  font-family: Nata Sans, Helvetica, sans-serif;
  line-height: 35px;
  font-size: 20px;
  font-weight: 300;
  color: aliceblue;
}

strong {
  font-weight: 800;
}

a {
  color: rgb(38, 176, 210);
}

pre {
  color: aliceblue;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
}

.code-long {
  padding: 20px;
}

.code-piece {
  background-color: rgb(0, 99, 99);
}

.next-page {
  margin: 30px 0;
  font-family: Nata Sans, Helvetica, sans-serif;
  line-height: 35px;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(19, 46, 46);
  padding: 10px;
  border-radius: 5px;
}

footer {
  margin-bottom: 100px;
}

.whatsapp-button {
  position: fixed;
  bottom: var(--whatsapp-bottom);
  padding: 15px;
  right: 20px;
  z-index: 1000;
  display: block;
  background-color: aliceblue;
  font-family: Nata Sans, Helvetica, sans-serif;
  color: rgb(19, 46, 46);
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, bottom 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

#floating-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(35, 50, 70);
  color: aliceblue;
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
  z-index: 999;
}

.nav-button {
  color: aliceblue;
  font-family: Nata Sans, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  color: rgba(22, 208, 255, 0.819);
}

.nav-title {
  flex-grow: 1;
  text-align: center;
  font-family: Nata Sans, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 20%;
}
